@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.op-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.op-wrap-left {
    width: 700px;
    padding: 1rem;
}

.op-wrap-left h1 {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(15, 15, 15);
}

.op-wrap-right {
    width: 500px;
}

.op-wrap-right img {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
}

.op-wrap-left p {
    font-size: 14px;
    text-align: justify;
}



.op-wrap2 {
    flex-wrap: wrap-reverse ;
    background: url('../../assets/hero-bg-1.jpg') no-repeat center center/cover;
  }



/* MEDIA QUERIES */

@media screen and (max-width:1200px) {
    .op-wrap-left {
        width: 90%;
    }

}



