@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.iop-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.iop-header {
    text-align: center;
    padding: 2rem;
}

.iop-wrap-left {
    width: 600px;
    padding: 1rem;
}

.iop-wrap-left h1 {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(15, 15, 15);
}

.iop-wrap-right {
    width: 600px;
}

.iop-wrap-right img {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.iop-wrap-left p {
    font-size: 16px;
    text-align: justify;
}

.iop-wrap2 {
    flex-wrap: wrap-reverse ;
  }



/* MEDIA QUERIES */

@media screen and (max-width:1200px) {
    .iop-wrap-left {
        width: 90%;
    }

}



