@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.php-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.php-wrap-left {
    width: 600px;
    padding: 1rem;
    margin: auto;

}

.php-wrap-left h1 {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(15, 15, 15);

}

.php-wrap-right {
    width: 600px;
    margin: auto;
}

.php-wrap-right img {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.php-wrap-left p {
    font-size: 16px;
    text-align: justify;
}



.php-wrap2 {
    flex-wrap: wrap-reverse ;
    background: url('../../assets/hero-bg-1.jpg') no-repeat center center/cover;
  }



/* MEDIA QUERIES */

@media screen and (max-width:1200px) {
    .php-wrap-left {
        width: 90%;
    }

}



