.wrap {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  margin: 1rem 0;
  gap: 5rem;
}

.box {
    height: auto;
    width: 600px;
    display: inline-block;
    margin: 1rem;
}

.wrap .header {
    text-align: center;
    
}

.box img {
    border-radius: 10px;
    margin: auto;
}

p {
    font-size: 15px;
}

.right {
    width: 250px;
}

/* MEDIA QUERIES */

@media screen and (max-width:600px) {


    p {
        font-size: 14px;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

.left button {
    margin: 1rem auto;
}

.wrap {
    gap: 1rem;
  }

}